.features {
  &__title {
    margin: 0;

    @include textTypeFull(58px, 69.6px, $mainFontFamily, 300, $turqoise);
    letter-spacing: 0.155em;
  }

  &__features {
    margin-top: 25px;
    @include pageGrid;

    @include on-mobile {
      justify-items: center;
    }
  }
}

.feature-card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;

  width: 81vw;

  @include on-mobile {
    align-items: center;

    &--2, &--3 {
      margin-top: 70px;
    }
  }

  @include on-tablet {
    width: 29vw;

    &--3 {
      order: -1;
    }
  }

  @include on-desktop {
    width: 26vw;
    max-width: 370px;

    grid-column: span 4;

    &--3 {
      order: 1;
    }
  }

  &__img {
    width: 100%;
    height: 81vw;

    background-size: contain;
    background-repeat: no-repeat;

    @for $img from 1 through 3 {
      &--#{$img} {
        background-image: url(../../../public/images/default/features--#{$img}.png);
      }
    }

    @include on-tablet {
      height: 29vw;
    }

    @include on-desktop {
      height: 26vw;

      max-height: 370px;
    }
  }

  &__title {
    margin: 35px 0 0 0;

    @include textType(24px, 24px, 0.155em);
    text-align: center;

    @include on-tablet {
      text-align: left;
    }
  }

  &__text {
    margin: 20px 0 0 0;
    @include textTypeFull(16px, 24px, $secondaryFontFamily, 300, $greyDark);
    text-align: center;

    max-width: 81vw;

    @include on-tablet {
      text-align: left;
    }
  }
}
